{% extends 'schedule/base.html' %}

{% block content %}
<h1>список преподавателей</h1>
<a href="{% url 'teacher_create' %}" class="btn">+ добавить преподавателя</a>

<table>
    <tr>
        <th>ID</th>
        <th>имя</th>
        <th>фамилия</th>
        <th>Email</th>
        <th>активен</th>
        <th>действия</th>
    </tr>
    {% for teacher in teachers %}
    <tr>
        <td>{{ teacher.id }}</td>
        <td>{{ teacher.first_name }}</td>
        <td>{{ teacher.last_name }}</td>
        <td>{{ teacher.email }}</td>
        <td>{{ teacher.is_active|yesno:"Да,Нет" }}</td>
        <td>
            <a href="{% url 'teacher_detail' teacher.id %}">просмотр</a>
            <a href="{% url 'teacher_update' teacher.id %}">редактировать</a>
            <a href="{% url 'teacher_delete' teacher.id %}">удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>

<h2>преподаватели без профиля (TeacherInfo):</h2>
<ul>
    {% for teacher in teachers_without_info %}
        <li>{{ teacher }} (нет профиля!!1)</li>
    {% empty %}
        <li>у всех есть профиль</li>
    {% endfor %}
</ul>
{% endblock %}